body {
  font-family: "Century Gothic";
  margin: 0px;
}
#section1 {
  background-color: #e5ba73;
  width: 100vw;
  height: 50vh;
  padding-top: 250px;
}
#welcome {
  color: #181d31;
  font-size: 4em;
  display: inline;
}
#section2 {
  background-color: #678983;
  width: 100vw;
  height: 108vh;
  position: relative;
  padding-top: 100px;
}
#biography {
  color: black;
  font-size: x-large;
  width: 90%;
  text-align: center;
}
.subSec {
  font-size: 2.5em;
  margin: 0px;
}
#section3 {
  background-color: #495579;
  width: 100vw;
  height: 140vh;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
#section4 {
  background-color: #121212;
  width: 100vw;
  height: 50vh;
  position: relative;
  padding-top: 100px;
}
#ask {
  font-size: 1.05em;
}
#question {
  background-color: #f0f8ff;
  width: 40%;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 15px 15px 25px black;
}
#result {
  background-color: #f0f8ff;
  width: 40%;
  height: 20%;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 15px 15px 25px black;
}
.choice {
  font-size: 0px;
  width: 100%;
  height: 20vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 20px;
  border: 0.3px solid white;
}
.choice img {
  width: 100%;
  height: 90%;
}
.choice:hover {
  opacity: 50;
  border: 2px solid black;
}
.additionalInfo {
  width: 28%;
  height: 30vh;
  background-color: #d7d7d720;
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  transition: 1000ms;
  position: relative;
}
.additionalInfo:hover {
  transition: 1000ms;
  background-color: #d7d7d760;
}
.additionalList {
  width: 20%;
  height: 23vh;
  background-color: #d7d7d720;
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  transition: 1000ms;
}
.additionalList:hover {
  transition: 1000ms;
  background-color: #d7d7d760;
}
#education {
  font-size: 2em;
}
#goal {
  font-size: 1.15em;
}
.container1 {
  position: relative;
  width: 70%;
  margin: auto;
}
.container2 {
  position: relative;
  width: 80%;
  margin: auto;
}
.circle {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  background-color: #121212;
}
#forSec1 {
  width: 175px;
  height: 350px;
  z-index: 5;
  border-radius: 0 250px 250px 0;
  left: 87px;
}
#forSec2 {
  width: 100px;
  height: 200px;
  z-index: 5;
  border-radius: 150px 0px 0 150px;
  right: -50px;
  margin-top: 30px;
}
.title {
  font-size: 3em;
  color: #f0f8ff;
  text-shadow: 5px 5px 10px #121212;
  display: inline;
}
.info {
  font-size: 1.2em;
  color: #f0f8ff;
  text-shadow: 5px 5px 10px #121212;
  display: inline;
}
#tableJs {
  border-collapse: collapse;
  font-size: large;
  width: 90%;
  margin: auto;
}
.correctAnswer {
  background-color: #b6e2a180;
}
.wrongAnswer {
  background-color: #ff646480;
}
#winner {
  position: absolute;
  width: 100vw;
  height: 146vh;
  z-index: 5;
  margin-top: -1070px;
}
.topLikes {
  font-size: 2.5em;
  margin: 0px;
  color: #f0f8ff90;
}
